#request-info .panel-body.flex-container {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

@media screen and (min-width: 768px) {
  .panel-body.flex-container .flex-item.request-type, .panel-body.flex-container .flex-item.recurring {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
    width: 100%; }
  .panel-body.flex-container #contact_row.flex-item {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
    width: 100%; }
  #TITLE {
    width: 600px; } }
