$dark-blue: #003a70;
$yellow: #f6be00;

body {
  padding-top: 50px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
.emphasis {
	font-style: italic;
}
.container {

}

.panel-default {
	border-color: $dark-blue;
	> .panel-heading {
		color: #f6be00;
		background-color: $dark-blue;
		border-color: $dark-blue;

		.panel-title {
			font-size: 24px;
			letter-spacing: .05em;
		}

	}
}
form {

	padding: 40px 15px;

	.cnm-logo {
		margin-bottom: 20px;
	}

	.input-group {
		padding-bottom: 10px;

	}

	label {
		font-size: 18px;
		&.error {
			font-size: 12px;
		    color: red;
		    margin-left: 10px;
		}
	}

	.default-hidden {
		display: none;
		//visibility: hidden;
	}

	.form-control {
		border-color: $dark-blue;		
	}

	.btn {
		font-size: 24px;
		letter-spacing: .05em;
	}

	.btn-primary {
		background-color: $dark-blue;
		border-color: $dark-blue;
		color: $yellow;
	}

	.panel-body {

		.flex-item.recurring,
		.flex-item.request-type,
		.flex-container {
			display:flex;
			flex-direction: column;
			justify-content: space-between;
		}
		

		.flex-item {
			flex: 1 1 auto;


			.input-group {
				max-width: 228px;

				.form-control {
					width: 100%;
					//width: 228px;
					
				}

				.input-group-addon {
					border-color: $dark-blue;
					background-color: $dark-blue;
					color: $yellow;
				}
			}
		}

		#subject_row {
			.input-group .form-control:last-child {
				border-top-left-radius: 4px;
			}
		}

		#contact_row {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.input-group .form-control:last-child {
				border-top-left-radius: 4px;
			}

			.input-group {
				//flex: 1;
				//max-width: 228px;
				width: 100%;

			}
		}
	}
}

@media screen and (min-width:768px){
form {
	.panel-body {
		#contact_row {
			flex-direction: row;

			.input-group {
				width: 30%;
			}
		}

		.input-group {
			width: 280px;
		}

		#explain-other .form-control {
			width: 100%;
		}

		.flex-item {

		}

		.flex-item.recurring,
		.flex-item.request-type {
			flex-direction: row;
		}
	}
}
}