<form [formGroup]="opieForm" (ngSubmit)="onSubmit()">
  <img src="assets/img/cnm_logo.png" class="cnm-logo" alt="CNM Logo">

  <!--<label for="TITLE">-->
    <!--Name:-->
    <!--<input type="text" formControlName="TITLE" formControlName="TITLE">-->
  <!--</label>-->

  <!-- Contact Info card -->
  <div class="card ">
    <div class="card-heading"><h3 class="card-title">Submit Request to OPIE</h3></div>
    <div class="card-body flex-container column" id="first-card">
      <!-- this is the outer flexbox for this card -->
      <div id="subject-row flex-item"> <!-- first flexbox item -->
        <div class="form-group">
          <label class="control-label" for="TITLE">Subject</label>
          <input type="text" class="form-control" id="TITLE" formControlName="TITLE" placeholder="required" required>
        </div>
      </div>
      <div id="contact_row " class="flex-item flex-container flex-row">
        <!-- second flexbox item, also a flexbox container -->
        <div class="form-group flex-item">
          <label class="control-label" for="Last__bName">Last Name</label>
          <input type="text" class="form-control" id="Last__bName" formControlName="Last__bName"
                 placeholder="required" required>
        </div>
        <div class="form-group flex-item">
          <label class="control-label" for="First__bName">First Name</label>
          <input type="text" class="form-control" id="First__bName" formControlName="First__bName"
                 placeholder="required" required>
        </div>
        <div class="form-group flex-item">
          <label class="control-label" for="Email__bAddress">Email</label>
          <input type="email" class="form-control" id="Email__bAddress" formControlName="Email__bAddress"
                 placeholder="required" value="" required>
          <span class='glyphicon glyphicon-remove form-control-feedback' aria-hidden='true'></span>
          <div class="invalid-feedback">
            Please enter a valid email.
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Request Information card -->

  <div class="card " id="request-info">
    <div class="card-heading">
      <h3 class="card-title">Request Information</h3>
    </div>
    <div class="card-body flex-container">
      <div class="flex-item">
        <label class="control-label" for="date-needed">Date Needed</label>
        <p class="help-block">Please give us two weeks notice for requests</p>

        <div class="form-group">
          <div class="input-group date" id="date-needed" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" data-target="#date-needed"/>
            <div class="input-group-append" data-target="#date-needed" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>

      </div>

      <div class="flex-item recurring">
        <div class=flex-item>
          <label class="control-label" for="One__uTime__bor__bRecurring__Q">One time or recurring?</label>
          <div class="form-group">
            <select formControlName="One__uTime__bor__bRecurring__Q" id="One__uTime__bor__bRecurring__Q"
                    class="form-control">
              <option *ngFor="let option of recurring" [value]="option.id" [selected]="option.id == 'no-answer'">{{ option.name }}</option>
            </select>
          </div>
        </div>
        <div class="default-hidden flex-item" id="recurring-schedule">
          <label class="control-label" for="Recurring__bSchedule">Recurring Schedule</label>
          <div class="form-group">
            <select formControlName="Recurring__bSchedule" id="Recurring__bSchedule" class="form-control">
              <OPTION VALUE="No Choice">No Choice</OPTION>
              <OPTION VALUE="Term">Term</OPTION>
              <OPTION VALUE="Annually">Annually</OPTION>
              <OPTION VALUE="Other">Other</OPTION>
            </select>

          </div>

        </div>

        <!--<div class="default-hidden flex-item" id="explain-other">-->
          <!--<label class="control-label" for="Please__bExplain__bOther">Please explain Other</label>-->
          <!--<div class="form-group">-->
            <!--<INPUT formControlName="Please__bExplain__bOther" class="form-control" SIZE="20" VALUE="">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->


      <!--<div class="flex-item request-type">-->
        <!--<div class="flex-item">-->
          <!--<label class="control-label" for="Type__bof__bRequest">Type of Request</label>-->
          <!--<div class="form-group">-->
            <!--<select formControlName="Type__bof__bRequest" id="request-type" class="form-control">-->
              <!--<OPTION VALUE="No Choice">No Choice</OPTION>-->
              <!--<OPTION VALUE="Accreditation Reporting">Accreditation Reporting</OPTION>-->
              <!--<OPTION VALUE="Institutional Research">Institutional Research</OPTION>-->
              <!--<OPTION VALUE="Learning Assessment">Learning Assessment</OPTION>-->
              <!--<OPTION VALUE="Performance Improvement">Performance Improvement</OPTION>-->
              <!--<OPTION VALUE="Unknown">Unknown</OPTION>-->
            <!--</select>-->

          <!--</div>-->
        <!--</div>-->
        <!--<div class="default-hidden flex-item" id="pi-category-container">-->
          <!--<label class="control-label" for="PI__bCategory">PI Category</label>-->
          <!--<div class="form-group">-->
            <!--<select formControlName="PI__bCategory" id="pi-category" class="form-control">-->
              <!--<OPTION VALUE="No Choice">No Choice</OPTION>-->
              <!--<OPTION VALUE="Department Profile">Department Profile</OPTION>-->
              <!--<OPTION VALUE="PI Report">PI Report</OPTION>-->
              <!--<OPTION VALUE="Resources">Resources</OPTION>-->
              <!--<OPTION VALUE="Survey">Survey</OPTION>-->
              <!--<OPTION VALUE="Training">Training</OPTION>-->
            <!--</select>-->

          <!--</div>-->
        <!--</div>-->
        <!--<div class="default-hidden flex-item" id="request-type-unknown">-->
          <!--<label class="control-label" for="If__bUnknown__bPlease__bDescribe__c">If Unknown Please-->
            <!--Describe</label>-->
          <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" id="unknown-description"-->
                   <!--formControlName="If__bUnknown__bPlease__bDescribe__c">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="flex-item">-->
        <!--<label class="control-label" for="Proposed__bAudience">Proposed Audience</label>-->
        <!--<div class="form-group">-->
          <!--<select formControlName="Proposed__bAudience" id="proposed-audience" class="form-control">-->
            <!--<OPTION VALUE="No Choice">No Choice</OPTION>-->
            <!--<OPTION VALUE="Internal CNM ">Internal CNM (Employees only)</OPTION>-->
            <!--<OPTION VALUE="External to CNM">External to CNM</OPTION>-->
            <!--<OPTION VALUE="Performance Improvement">Both</OPTION>-->
          <!--</select>-->

        <!--</div>-->
      <!--</div>-->

      <!--&lt;!&ndash;strategic goal&ndash;&gt;-->
      <!--<div class="row strategic-goal">-->
        <!--<div class="col-6">-->
          <!--<label class="control-label"-->
                 <!--for="Strategic__bgoal__bto__bwhich__bthis__brelates">Strategic goal to-->
            <!--which this relates</label>-->
          <!--<div class="form-group">-->
            <!--<select-->
              <!--formControlName="Strategic__bgoal__bto__bwhich__bthis__brelates"-->
              <!--id="Strategic__bgoal__bto__bwhich__bthis__brelates" tabindex="32"-->
              <!--class="form-control">-->
              <!--<option value="" selected="true">No Choice</option>-->
              <!--<option value="Student__bSuccess">Student Success</option>-->
              <!--<option value="Community__bSuccess">Community Success</option>-->
              <!--<option value="Organization__bExcellence__band__bInnovation">Organization Excellence and-->
                <!--Innovation-->
              <!--</option>-->
              <!--<option value="None__bof__bthese">None of these</option>-->
            <!--</select>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-6 default-hidden" id="student-success-strategic-initiative">-->
          <!--<label class="control-label" for="Strategic__binitiative__bto__bwhich__bthis__brelates">Strategic-->
            <!--initiative to which this relates</label>-->
          <!--<div class="form-group">-->
            <!--<select-->
              <!--formControlName="Strategic__binitiative__bto__bwhich__bthis__brelates"-->
              <!--id="Strategic__binitiative__bto__bwhich__bthis__brelates" tabindex="33"-->
              <!--class="form-control">-->
              <!--<option value="" selected="true">No Choice</option>-->
              <!--<option value="All__bFirst__uTime__M__bFull__uTime__M__bDegree__uSeeking__bStudents__bHave__ban__bAcademic__bPlan">-->
                <!--All First-Time, Full-Time, Degree-Seeking Students Have an Academic Plan-->
              <!--</option>-->
              <!--<option value="Create__ba__bStudent__uCentered__bCourse__bSchedule">Create a-->
                <!--Student-Centered Course Schedule-->
              <!--</option>-->
              <!--<option value="Create__bComprehensive__bOnline__bCollege">Create Comprehensive Online-->
                <!--College-->
              <!--</option>-->
              <!--<option value="Develop__bEarly__bChildhood__bConnect__bCenter__bof__bExcellence">Develop-->
                <!--Early Childhood Connect Center of Excellence-->
              <!--</option>-->
              <!--<option value="Develop__bGlobal__bLearning__bInitiative">Develop Global Learning-->
                <!--Initiative-->
              <!--</option>-->
              <!--<option value="Develop__bStudent__bWork__bExperience__bProgram">Develop Student Work-->
                <!--Experience Program-->
              <!--</option>-->
              <!--<option value="Expand__bCollege__b__7__bCareer__bHigh__bSchool">Expand College &amp;-->
                <!--Career-->
                <!--High School-->
              <!--</option>-->
              <!--<option value="Expand__bCredit__bfor__bPrior__bLearning">Expand Credit for Prior-->
                <!--Learning-->
              <!--</option>-->
              <!--<option value="Expand__bDual__bCredit">Expand Dual Credit</option>-->
              <!--<option value="Expand__bFast__uTrack__bDegree__bOfferings">Expand Fast-Track Degree-->
                <!--Offerings-->
              <!--</option>-->
              <!--<option value="Expand__bNon__uCredit__bOfferings__bThrough__bBootcamps__M__bAcademies">-->
                <!--Expand Non-Credit Offerings Through Bootcamps, Academies-->
              <!--</option>-->
              <!--<option value="Grow__bIntersession">Grow Intersession</option>-->
              <!--<option value="Implement__bCompetency__uBased__bEducation__bOptions">Implement-->
                <!--Competency-Based Education Options-->
              <!--</option>-->
              <!--<option value="Incorporate__bSustainability__bInitiatives__binto__bCourse__bOfferings">-->
                <!--Incorporate Sustainability Initiatives into Course Offerings-->
              <!--</option>-->
              <!--<option value="Increase__bGraduation__bRates__bof__bFirst__uTime__M__bFull__uTime__M__bDegree__uSeeking__bStudents">-->
                <!--Increase Graduation Rates of First-Time, Full-Time, Degree-Seeking Students-->
              <!--</option>-->
              <!--<option value="Transition__bfrom__bCollege__uOwned__bTechnology__bto__bStudent__uOwned__bTechnology">-->
                <!--Transition from College-Owned Technology to Student-Owned Technology-->
              <!--</option>-->
            <!--</select>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-6 default-hidden" id="community-success-strategic-initiative">-->
          <!--<label class="control-label" for="Strategic__binitiative__bto__bwhich__bthis__brelates">Strategic-->
            <!--initiative to which this relates</label>-->
          <!--<div class="form-group">-->
            <!--<select-->
              <!--formControlName="Strategic__binitiative__bto__bwhich__bthis__brelates"-->
              <!--id="Strategic__binitiative__bto__bwhich__bthis__brelates" tabindex="33"-->
              <!--class="form-control">-->
              <!--<option value="" selected="true">No Choice</option>-->
              <!--<option value="Create__bComprehensive__bOnline__bCollege">Create Comprehensive Online-->
                <!--College-->
              <!--</option>-->
              <!--<option value="Develop__band__bImplement__bComprehensive__bMakerspace">Develop and-->
                <!--Implement-->
                <!--Comprehensive Makerspace-->
              <!--</option>-->
              <!--<option value="Develop__bGlobal__bLearning__bInitiative">Develop Global Learning-->
                <!--Initiative-->
              <!--</option>-->
              <!--<option value="Develop__bStudent__bWork__bExperience__bProgram">Develop Student Work-->
                <!--Experience Program-->
              <!--</option>-->
              <!--<option value="Expand__bBusiness__bSupport__bthrough__bBusiness__bAccelerator__band__bSBDCs">-->
                <!--Expand Business Support through Business Accelerator and SBDCs-->
              <!--</option>-->
              <!--<option value="Expand__bCollege__b__7__bCareer__bHigh__bSchool">Expand College &amp;-->
                <!--Career-->
                <!--High School-->
              <!--</option>-->
              <!--<option value="Expand__bFast__uTrack__bDegree__bOfferings">Expand Fast-Track Degree-->
                <!--Offerings-->
              <!--</option>-->
              <!--<option value="Expand__bNon__uCredit__bOfferings__bThrough__bBootcamps__M__bAcademies">-->
                <!--Expand Non-Credit Offerings Through Bootcamps, Academies-->
              <!--</option>-->
              <!--<option value="Grow__bIntersession">Grow Intersession</option>-->
              <!--<option value="Implement__bCompetency__uBased__bEducation__bOptions">Implement-->
                <!--Competency-Based Education Options-->
              <!--</option>-->
            <!--</select>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-6 default-hidden" id="organization-strategic-initiative">-->
          <!--<label class="control-label" for="Strategic__binitiative__bto__bwhich__bthis__brelates">Strategic-->
            <!--initiative to which this relates</label>-->
          <!--<div class="form-group">-->
            <!--<select-->
              <!--formControlName="Strategic__binitiative__bto__bwhich__bthis__brelates"-->
              <!--id="Strategic__binitiative__bto__bwhich__bthis__brelates" tabindex="33"-->
              <!--class="form-control">-->
              <!--<option value="" selected="true">No Choice</option>-->
              <!--<option value="Articulate__band__bImplement__bSpace__bEfficiency__bInitiatives">Articulate-->
                <!--and Implement Space Efficiency Initiatives-->
              <!--</option>-->
              <!--<option value="Develop__bGlobal__bLearning__bInitiative">Develop Global Learning-->
                <!--Initiative-->
              <!--</option>-->
              <!--<option value="Develop__bStudent__bWork__bExperience__bProgram">Develop Student Work-->
                <!--Experience Program-->
              <!--</option>-->
              <!--<option value="Enhance__bIntellectual__bProperty__bInitiatives">Enhance Intellectual-->
                <!--Property Initiatives-->
              <!--</option>-->
              <!--<option value="Implement__bValues__uBased__bEmployee__bInitiatives">Implement Values-Based-->
                <!--Employee Initiatives-->
              <!--</option>-->
              <!--<option value="Streamline__band__bDocument__ball__bProcesses__band__bProcedures">Streamline-->
                <!--and Document all Processes and Procedures-->
              <!--</option>-->
              <!--<option value="Transform__bCustomer__bService__bExperience">Transform Customer Service-->
                <!--Experience-->
              <!--</option>-->
              <!--<option value="Transition__bfrom__bCollege__uOwned__bTechnology__bto__bStudent__uOwned__bTechnology">-->
                <!--Transition from College-Owned Technology to Student-Owned Technology-->
              <!--</option>-->
            <!--</select>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>

  <button class="btn btn-primary" [disabled]="!opieForm.valid" type="submit">Submit form</button>
</form>


<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/moment/min/moment.min.js"></script>
<script type="text/javascript"
        src="node_modules/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
