#request-info .card-body.flex-container {
  -ms-flex-direction: column;
  flex-direction: column; }

.hide {
  display: none;
}
.show {
  display: block;
}

.alert {
  margin-bottom: inherit;
  padding: 0 1.25rem;
}


.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
}

@keyframes fadeOut {
  0% {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb
  }
  100% {
    color: black;
    background-color: transparent;
    border-color: transparent;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@media screen and (min-width: 768px) {

  .card-body {
    &.flex-container {
      .flex-item {
        &.request-type,
        &.strategic-goal,
        &.recurring {
          flex-direction: row;
          max-width: 100%;
          width: 100%;
        }
      }
      #contact_row {
        &.flex-item {
          flex-direction: row;
          max-width: 100%;
          width: 100%;
        }
      }
    }
    }
  }
  .card-body.flex-container .flex-item.request-type, .card-body.flex-container .flex-item.recurring {

  .card-body.flex-container #contact_row.flex-item {
    -ms-flex-direction: row;
     }
  #TITLE {
    width: 600px; } }
