@import '~bootstrap/scss/bootstrap.scss';

$dark-blue: #003a70;
$yellow: #f6be00;

body {
  padding-top: 50px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
.emphasis {
  font-style: italic;
}
.container:not(.page-header) {
  border-color: $dark-blue;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid $dark-blue; //rgba(0,0,0,.125);
  border-radius: .25rem;
  .container-heading {
    margin: 0 -15px;
    padding: 10px 15px;
    color: #f6be00;
    background-color: $dark-blue;
    border-color: $dark-blue;

    .container-title {
      font-size: 24px;
      letter-spacing: .05em;
    }
  }
  .container-body {
    padding-top: 15px;
  }
}

.card {

}


form {
  padding: 40px 15px;
}

.cnm-logo {
  margin-bottom: 20px;
}


label {
  font-size: 18px;
  &.error {
    font-size: 12px;
    color: red;
    margin-left: 10px;
  }
}

.default-hidden {
  display: none;
  //visibility: hidden;
}

.form-control {
  border-color: $dark-blue;
}

.btn {
  font-size: 24px;
  letter-spacing: .05em;
}

.btn-primary {
  background-color: $dark-blue;
  border-color: $dark-blue;
  color: $yellow;
}

.card-body {

  .flex-item.recurring,
  .flex-item.request-type,
  .flex-container,
  &.flex-container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
  }


  .flex-item {
    flex: 1 1 auto;


    .input-group {

      .input-group-addon {
        border-color: $dark-blue;
        background-color: $dark-blue;
        color: $yellow;
      }
    }
  }

  #contact_row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .input-group {

      width: 100%;

    }
  }
}

@media screen and (min-width:768px){


  .container-body {
    #contact_row {
      flex-direction: row;

      .input-group {
        width: 30%;
      }
    }

    .input-group {
      width: 280px;
    }

    #explain-other .form-control {
      width: 100%;
    }

    .flex-item {

    }

    &.flex-container,
    .flex-container,
    .flex-item.request-type {
      flex-direction: row;

      .flex-item {
        max-width: 281px;
        margin-right: 20px;
        &.subject {
          max-width: 100%;
          width: 100%;
        }
        &.flex-row {
          width: 100%;
          max-width: 100%;
        }
      }

    }

    &.column {
      flex-direction: column;
    }

    .flex-item.recurring .flex-item {
      //max-width: 280px;
      //margin-right: 20px;
    }
  }


  //}
}
